@charset "UTF-8";

body {
	margin: 0;
	position: relative;
	background-image: url("images/postBack.png");

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

