@charset "UTF-8";



* {
max-width: 100%;
  height: auto;
}
/* 背景画像設定 */
body {
	margin: 0;
	position: relative;
	background-image: url("images/processBack.png");

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
/* 通報　*/
#reportMark {
	position: absolute;
	color: white; 
	font-size: 30px;
	left: 80vw;
	top: 85vh;
}
.popup {
        position: absolute;
        top: 20vh;
        left: 30vw;
        width: 40vw;
        height: 60vh;
        background-color:red;
        display: none;
        z-index: 1200;
    }

        .close-button {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }
        
        #popupFlag:checked + .popup-background,
        #popupFlag:checked + .popup-background + .popup {
            display: block;
        }
        
        
/* ナビゲーション*/
.navi {
        position: absolute;
        top: 0;
        left:0;
        width: 10vw;
        height: 100vh;
        background-color: black;
        padding-top: 20px;
        box-sizing: border-box;
        display: none;
        z-index: 1000;
    }
/* 閉じるボタン */
        .close-button {
        	color: white;
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }
        
        #naviFlag:checked + .navi-background,
        #naviFlag:checked + .navi-background + .navi {
            display: block;
        }   
        
 

 /* テーマ */
 #themeContainer {
 position: relative;
 left: 33vw;
 top: -10vh;
 }
 
 #themeContainer h2 {
 z-index: 30;
 position: absolute;
 color: white;
 left: 11vw;
 top: 11vh;
 }
 #themeContainer img {
 z-index: 20;
 position: absolute;
 width: 400px;
 height: auto;
 }
 /* タイマー */
 .timerContainer {
 position: relative;
 top: 0vh;
 left: 80vw;

 }
 
 .timerContainer img {
 position: absolute;
 left: 0;
 width: 30%;
 height: auto;
 }
 .timerContainer p {
 position: absolute;
 color: white;
 top: 110px;
 left: 200px;
 }
 
 /* キャンバス要素 */
 canvas {
 z-index: 1100;
 position: absolute;
 left: 27vw;
 top: 17vh;
 
 }
 
 .kindContainer {
 position: relative;
 top: 20vh;
 left: 2vw; 
 
 }
 .kindContainer img {
 position: absolute;
 width: 20%;
 height: auto;
 z-index: 901;
 }
 
 
 
 
 /* 音声追加 */
 /* 画像 */
 #addSoundImage {
 position: absolute;
 width: 100px;
 height: auto; 
 top: 80vh; 
 left: 60vw;
 }
 
 /* ポップアップウインドウ */
 .addSound {
        position: absolute;
        top: 20vh;
        left: 30vw;
        width: 40vw;
        height: 60vh;
        background-color: red;
        padding-top: 20px;
        box-sizing: border-box;
        display: none;
        z-index: 1200;
    }
/* 閉じるボタン */
        .close-button {
        	color: white;
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }
        
        #addSoundFlag:checked + .addSound-background,
        #addSoundFlag:checked + .addSound-background + .addSound {
            display: block;
        }
 /* 音声選択 */
 /* 画像 */
 #selSoundImage {
 position: absolute;
 width: 100px; 
 height: auto; 
 top: 80vh; 
 left: 70vw;
 }
 .selSound {
        position: absolute;
        top: 20vh;
        left: 30vw;
        width: 40vw;
        height: 60vh;
        background-color: blue;
        padding-top: 20px;
        box-sizing: border-box;
        display: none;
        z-index: 1200;
    }
/* 閉じるボタン */
        .close-button {
        	color: white;
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }
        
        #selSoundFlag:checked + .selSound-background,
        #selSoundFlag:checked + .selSound-background + .selSound {
            display: block;
        }      


