@charset "UTF-8";

body {
	margin: 0;
	position: relative;
	background-image: url("images/processBack.png");

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

    .popup {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30vw;
        padding: 20%;
        background-color:red;
        border-radius: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        display: none;
        
    }

        .close-button {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }
        
        #popupFlag:checked + .popup-background,
        #popupFlag:checked + .popup-background + .popup {
            display: block;
        }
        
        
/* ナビゲーション*/
.navi {
        position: absolute;
        top: 0;
        left:0;
        width: 10vw;
        height: 100vh;
        background-color: black;
        padding-top: 20px;
        box-sizing: border-box;
        display: none;
    }
/* 閉じるボタン */
        .close-button {
        	color: white;
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }
        
        #naviFlag:checked + .navi-background,
        #naviFlag:checked + .navi-background + .navi {
            display: block;
        }   
 #naviwin a {
 font-size: 30px;
 }   

 /* テーマ */
 #theme {
 position: absolute;
 left: 60%;
 top: 4%;
 transform: translate(-50%, -50%);
 }
 
 #theme img {
 top: 20%;
 left:50%;
 width: 50%;
 height: auto;
 }
 /* タイマー */
 .timerContainer {
 position: absolute;
 top: 0vh;
 left: 70vw;

 }
 
 .timerContainer img {
 position: absolute;
 width: 30%;
 height: auto;
 }
 .timerContainer p {
 position: absolute;
 color: white;
 top: 110px;
 left: 200px;
 }
 
 /* キャンバス要素 */
 canvas {
 position: absolute;
 left: 50%;
 top: 50%;
 transform: translate(-50%, 0%);
 
 }
 
 
 /* 音声追加 */
 .addSound {
        position: absolute;
        top: 0;
        left:0;
        width: 8vw;
        height: 90vhpx;
        background-color: black;
        padding-top: 20px;
        box-sizing: border-box;
        display: none;
    }
/* 閉じるボタン */
        .close-button {
        	color: white;
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }
        
        #addSoundFlag:checked + .addSound-background,
        #addSoundFlag:checked + .addSound-background + .addSound {
            display: block;
        }      