@charset "UTF-8";

body{
	
	margin:0;/*ブラウザ標準の余白を無くす*/
    width:100vw;/*画面の横幅いっぱいにする*/
    height:100vh;/*画面高さいっぱいにする*/
	background-image:url("images/registBackground.png");/*背景画像を設定*/
	background-size:cover;/*画面全体に背景画像を表示（必要に応じて画像を拡大・縮小する）*/
    background-position:center;/*背景画像を中央揃えで表示*/
    background-repeat:no-repeat;/*背景画像を繰り返し表示しない*/
}

.title1{
	color:white;
	font-size:50px;
	margin-top:0px;/*上側の余白を0にする*/
	margin-bottom:0px;/*下側の余白を-20pxにして、title2との間隔を狭くする*/
}

.title2{
	color:gray;
	font-size:40px;
	margin-top:0;/* 上側の余白を0にする */
}

@font-face {
    font-family: "taisyokatuji";
    src: url("../font/taisyokatujippoi7T5.ttf") format("truetype");
}

.title1,
.title2{
    font-family: "taisyokatuji";
}

.newregist{
	position:absolute;
	left:50%;
	bottom:0;
	transform:translateX(-50%);
	width:800px;/* テレビ画像 */
	height:500px;
	background-image:url("images/newRegist.png");
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
}
	
/* 入力エリア */
.input-area{
	position:absolute;/* テレビ画像の中で好きな位置に配置 */
	top:180px;/* 上から180pxの位置 */
	left:50%;/* 左から50%（中央） */
	transform:translateX(-50%);/* 自分の幅の半分だけ左に戻して完全中央 */
	display:flex;/* 子要素をFlexboxで管理 */
	flex-direction:column;/* 子要素を縦方向に並べる */
	gap:15px;/* 各行の間隔を15px空ける */
}

/* 1行分 */
.form-row{
	display:flex;/* ラベルと入力欄を横並びにする */
	align-items:center;/* 縦方向を中央揃え */
}

/* ラベル */
.form-row label{
	width:130px;/* ラベルの横幅を固定 */
	font-size:18px;/* 文字サイズ */
	font-weight:bold;/* 太字 */
	color:white;
}
/* テキストボックス */
.form-row input{
	width:250px;/* 横幅 */
	height:35px;/* 高さ */
	font-size:16px;/* 入力文字サイズ */
	padding-left:10px;/* 左側に10px余白 */
	border-radius:5px;/* 角を丸くする */
	border:1px solid #333;/* 枠線 */
}






